@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  display: grid;
  min-block-size: 100%;
}
body {
  --h: 200;
  --s: 60%;
  --l: 62%;
  --bg: hsl(var(--h) var(--s) var(--l));
  --dark: hsl(var(--h) var(--s) 10%);
  --dark-hover: hsl(var(--h) var(--s) 25%);
  --light: hsl(var(--h) var(--s) 99%);

  --gap: 1.5rem;
  background: var(--bg);
  display: grid;
  height: 100%;
  margin: unset;
  place-content: center;
  padding: var(--gap) unset;
}
h1 {
  color: var(--light);
  display: flex;
  flex-flow: column;
  font-family: 'Bebas Neue', cursive;
  font-size: clamp(4rem, 1.1429rem + 9.1429vw, 8rem);
  line-height: .85;
  margin: calc(2 * var(--gap)) auto;
  width: 50%;
}
h1 span:last-of-type {
  align-self: flex-end;
  color: var(--dark);
}


/* Circle of Fifths */
.cf {
  aspect-ratio: 1.5;
  margin-block: var(--gap) 0;
  width: calc(85vw - (2 * var(--gap)));
}
.cf-arcs {
  transform: rotate(-15deg);
  transform-origin: 50% 50%;;
}
.scale{
  fill: "white";
  stroke: hsl(var(--h), var(--s), var(--l));
}
.note{
  fill: var(--dark);
  stroke: hsl(var(--h), var(--s), var(--l));
}
.scale:hover {
  fill: var(--dark-hover);
}
.scale_selected{
  fill: "green";
}
.note_selected{
  fill:"green"
}
.cf-text-inner,
.cf-text-middle {
  fill: var(--light);
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
  letter-spacing: -0.065em;
  pointer-events: none;
  text-anchor: middle;
}
.cf-text-inner {
  font-size: .4em;
}
.cf-text-middle {
  font-size: .6em;
}

.cf [baseline-shift="super"] {
  font-size: 80%;
}