body {
  margin: 0;
  padding: 0;
}
#customPopup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas{
  width: 100%;
  height: 100%;
}

#title {
  text-shadow: 2px 2px 4px black;
  width: 50%;
  border-radius: 5px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.casella {
  text-align: center;
  font-family: "Century Gothic", courier, sans-serif;
  border-radius: 5px;
  background-color: #f2f2f2;
  opacity: 0.9;
  padding: 10px;
  margin: 1%;
  position: relative;
}

/*CIRLCE OF FIFTHS*/
html {
  display: grid;
  min-block-size: 100%;
}

text {
  fill: white;
}

.cf {
  aspect-ratio: 1.5;
  margin-block: var(--gap) 0;
  width: 650px;
}

.scale {
  fill: #fe938c;
  transform: rotate(-15deg);
  transform-origin: 50% 50%;
}
.note {
  fill: #e6b89c;
  transform: rotate(-15deg);
  transform-origin: 50% 50%;
}
.scale_selected {
  fill: #91b6b7;
  transform: rotate(-15deg);
  transform-origin: 50% 50%;
}
.scale:hover,
.scale_selected:hover {
  fill: #4281a4;
}
.note_selected {
  fill: #91b6b7;
  transform: rotate(-15deg);
  transform-origin: 50% 50%;
}

.cf-text-inner,
.cf-text-middle {
  /*font-family: ui-sans-serif, system-ui, sans-serif;*/
  font-family: "Century Gothic", courier, sans-serif;
  font-weight: 500;
  letter-spacing: -0.065em;
  pointer-events: none;
  text-anchor: middle;
}
.cf-text-inner {
  font-size: 0.5em;
}
.cf-text-middle {
  font-size: 0.7em;
}

.cf [baseline-shift="super"] {
  font-size: 80%;
}

label {
  fill: white;
  font-family: "Century Gothic", courier, sans-serif;
}

button {
  text-align: center;
  font-family: "Century Gothic", courier, sans-serif;
  width: auto;
  background-color: #4281a4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 1%;
  opacity: 0.9;
  height:40px;
}

button:hover {
  background-color: #91b6b7;
}

#game {
  position: absolute;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text,
.muteButtonProgBar {
  margin-bottom: 10px;
}

.muteButtonProgBar {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.muteButtonProgBar.clicked {
  background-color: #FF0000;
}